{:tasks {dev (clojure "-M:optional-deps:nrepl")
         test (clojure "-M:test --watch") #_(clojure "-M:test --plugin notifier --watch")
         test:once (clojure "-M:test")
         test:coverage (clojure "-M:optional-deps:test:coverage")}}
