{:deps {org.clojure/clojure {:mvn/version "1.12.0"}
        clj-kondo/clj-kondo {:mvn/version "2024.05.24"}
        org.clojure/data.xml {:mvn/version "0.2.0-alpha9"}
        aysylu/loom {:mvn/version "1.0.2"}
                     ;:exclusions [tailrecursion/cljs-priority-map]}
        org.babashka/cli {:mvn/version "0.8.59"}
        babashka/process {:mvn/version "0.5.22"}
        babashka/fs {:mvn/version "0.5.23"}
        metosin/malli {:mvn/version "0.17.0"}
        org.babashka/json {:mvn/version "0.1.6"}}

 :paths ["src" "resources"]

 :aliases
 {:test
  {:extra-deps {lambdaisland/kaocha {:mvn/version "1.87.1366"}
                io.github.juxt/snap {:git/sha "588755d360d02d91287e6b2d3c6a9e1ccadb4af5"
                                     :exclusions [org.clojure/clojurescript cljs-node-io/cljs-node-io]}}
   :extra-paths ["test/src"]
   :main-opts ["-m" "kaocha.runner"]}

  :coverage
  {:extra-deps {lambdaisland/kaocha-cloverage {:mvn/version "1.1.89"}}
   :main-opts ["-m" "kaocha.runner" "--plugin" "cloverage"]}

  :optional-deps {:extra-deps {stratify/metrics {:local/root "resources/io/github/dundalek/stratify/optional-deps/metrics"}
                               stratify/metrics-delta {:local/root "resources/io/github/dundalek/stratify/optional-deps/metrics-delta"}
                               stratify/overarch {:local/root "resources/io/github/dundalek/stratify/optional-deps/overarch"}
                               stratify/graphviz {:local/root "resources/io/github/dundalek/stratify/optional-deps/graphviz"}
                               stratify/report {:local/root "resources/io/github/dundalek/stratify/optional-deps/report"}
                               stratify/scip {:local/root "resources/io/github/dundalek/stratify/optional-deps/scip"}
                               stratify/treesitter {:local/root "resources/io/github/dundalek/stratify/optional-deps/treesitter"}
                               stratify/joern-go {:local/root "resources/io/github/dundalek/stratify/optional-deps/joern-go"}
                               stratify/joern-c {:local/root "resources/io/github/dundalek/stratify/optional-deps/joern-c"}

                               stratify/studio {:local/root "packages/studio"}

                               stratify/rdfize {:local/root "experiments/rdfize"}
                               org.clojars.quoll/asami {:mvn/version "2.3.4"}

                               ;; Explicit dep to prevent "Error building classpath. Unable to compare versions"
                               djblue/portal {:mvn/version "0.59.2"}

                               ;; for queries experiment
                               datascript/datascript {:mvn/version "1.7.3"}

                               ; polylith/workspace {:git/url "https://github.com/polyfy/polylith"
                               ;                     :git/tag "v0.2.21"
                               ;                     :git/sha "44f5ecb"}
                               ;                     ; :deps/root "components/workspace"}}

                               polylith/clj-poly {:mvn/version "0.2.21"}}}}}
