{:deps {org.clojure/clojure {:mvn/version "1.12.0"}
        clj-kondo/clj-kondo {:mvn/version "2024.05.24"}
        org.clojure/data.xml {:mvn/version "0.2.0-alpha9"}
        aysylu/loom {:mvn/version "1.0.2"
                     :exclusions [tailrecursion/cljs-priority-map]}
        org.babashka/cli {:mvn/version "0.8.59"}
        babashka/process {:mvn/version "0.5.22"}
        babashka/fs {:mvn/version "0.5.23"}}

 :paths ["src" "resources"]

 :aliases
 {:test
  {:extra-deps {lambdaisland/kaocha {:mvn/version "1.87.1366"}}
   :main-opts ["-m" "kaocha.runner"]}

  :coverage
  {:extra-deps {lambdaisland/kaocha-cloverage {:mvn/version "1.1.89"}}
   :main-opts ["-m" "kaocha.runner" "--plugin" "cloverage"]}

  :optional-deps {:extra-deps {stratify/metrics {:local/root "resources/io/github/dundalek/stratify/optional-deps/metrics"}
                               stratify/overarch {:local/root "resources/io/github/dundalek/stratify/optional-deps/overarch"}
                               stratify/graphviz {:local/root "resources/io/github/dundalek/stratify/optional-deps/graphviz"}
                               stratify/pulumi {:local/root "resources/io/github/dundalek/stratify/optional-deps/pulumi"}

                               ;; for queries experiment
                               datascript/datascript {:mvn/version "1.7.3"}

                               ; polylith/workspace {:git/url "https://github.com/polyfy/polylith"
                               ;                     :git/tag "v0.2.21"
                               ;                     :git/sha "44f5ecb"}
                               ;                     ; :deps/root "components/workspace"}}

                               polylith/clj-poly {:mvn/version "0.2.21"}}}}}
