{:element-metrics
 {"example.controller.foo"
  {:out-degree 1,
   :longest-shortest-path 3,
   :clustering-coefficient 0.0,
   :page-rank 0.18440259899799696,
   :ap-betweenness-centrality 0,
   :transitive-dependencies 3,
   :in-degree 0,
   :katz-centrality 1.0,
   :transitive-dependents 1,
   :edge-betweenness-centrality nil,
   :harmonic-centrality 0.75,
   :betweenness-centrality 0.0,
   :closeness-centrality 0.6666666666666666},
  "example.persistence.foo"
  {:out-degree 0,
   :longest-shortest-path 1,
   :clustering-coefficient 0.0,
   :page-rank 0.4744285708537813,
   :ap-betweenness-centrality 0,
   :transitive-dependencies 1,
   :in-degree 1,
   :katz-centrality 1.0101,
   :transitive-dependents 3,
   :edge-betweenness-centrality nil,
   :harmonic-centrality 0.0,
   :betweenness-centrality 0.0,
   :closeness-centrality 0.0},
  "example.service.foo"
  {:out-degree 1,
   :longest-shortest-path 2,
   :clustering-coefficient 0.0,
   :page-rank 0.3411688301482215,
   :ap-betweenness-centrality 1,
   :transitive-dependencies 2,
   :in-degree 1,
   :katz-centrality 1.01,
   :transitive-dependents 2,
   :edge-betweenness-centrality nil,
   :harmonic-centrality 0.5,
   :betweenness-centrality 1.0,
   :closeness-centrality 0.0}},
 :system-metrics
 {:cumulative-component-dependency 6,
  :num-connected-components 1,
  :average-component-dependency 2.0,
  :normalized-cumulative-component-dependency 1.2,
  :relative-average-component-dependency 0.6666666666666666}}
